In [1]:
#Dependencies
import os
import csv
import pandas as pd
import numpy as np
from statistics import mean

In [2]:
#Store filepaths
rb_import = "Output/RBs_Fltr_Combine_Data.csv"
rb_df = pd.read_csv(rb_import)

In [7]:
list(rb_df)

['Name',
 'Pos',
 'Year',
 'Tm',
 'First4AV',
 'College',
 'HOF',
 'Class',
 'Height\xa0(in)',
 'Weight\xa0(lbs)',
 'Hand Size\xa0(in)',
 'Arm Length\xa0(in)',
 'Wonderlic',
 '40\xa0Yard',
 'Bench Press',
 'Vert Leap\xa0(in)',
 'Broad Jump\xa0(in)',
 'Shuttle',
 '3Cone',
 '60Yd Shuttle']

In [3]:
#Create lists for the combine columns
height = []
weight = []
hands = []
arm = []
wonderlic = []
forty = []
bench = []
vert = []
broad = []
shuttle = []
three_cone = []
sixty_shuttle = []

#Place columns into independent rows
for index, row in rb_df.iterrows():
    height.append(row['Height\xa0(in)'])
    weight.append(row['Weight\xa0(lbs)'])
    hands.append(row['Hand Size\xa0(in)'])
    arm.append(row['Arm Length\xa0(in)'])
    wonderlic.append([row['Wonderlic']])
    forty.append(row['40\xa0Yard'])
    bench.append(row['Bench Press'])
    vert.append(row['Vert Leap\xa0(in)'])
    broad.append(row['Broad Jump\xa0(in)'])
    shuttle.append(row['Shuttle'])
    three_cone.append(row['3Cone'])
    sixty_shuttle.append(row['60Yd Shuttle'])

In [26]:
rb_df.head()

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,Height (in),Weight (lbs),Hand Size (in),Arm Length (in),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,60Yd Shuttle
0,Thurman Thomas,RB,1988,BUF,84,Oklahoma State,Y,Top,69.9,198,8.75,NaN,NaN,4.47,13.0,33.0,114.0,4.21,NaN,11.39
1,LaDainian Tomlinson,RB,2001,SDG,80,TCU,Y,Top,70.3,221,9.00,31.00,NaN,4.43,18.0,40.5,124.0,4.21,6.84,11.19
2,Ricky Watters,RB,1991,SFO,74,Notre Dame,N,Top,73.0,212,9.13,31.50,NaN,4.71,18.0,34.5,111.0,4.41,NaN,11.59
3,Edgerrin James,RB,1999,IND,73,Miami (FL),N,Top,72.0,216,8.88,30.00,NaN,4.38,NaN,NaN,NaN,3.88,6.87,NaN
4,Terrell Davis,RB,1995,DEN,70,Georgia,Y,Top,71.6,213,9.00,30.88,NaN,4.72,NaN,35.0,120.0,4.41,NaN,11.65

In [41]:
print(sixty_shuttle)

[11.39, 11.19, 11.59, nan, 11.65, nan, nan, nan, 11.72, nan, nan, nan, nan, nan, nan, nan, nan, nan, 11.96, nan, nan, nan, 11.19, nan, nan, nan, 11.8, nan, nan, nan, nan, nan, 11.62, nan, 11.84, nan, nan, nan, nan, nan, nan, 11.49, 11.29, nan, nan, 11.86, nan, 11.98, nan, 11.62, nan, nan, nan, nan, nan, nan, nan, nan, nan, 11.41, nan, 11.54, nan, nan, 11.33, 12.07, 12.09, nan, 11.18, 11.58, 11.3, nan, 11.13, nan, nan, 12.38, nan, 12.2, 11.34, 11.52, 11.15, nan, 11.47, nan, nan, nan, 11.59, nan, 11.88, 11.33, 11.7, nan, nan, nan, 11.02, 11.4, 11.47, 11.11, nan, 12.01, nan, 11.86, nan, nan, nan, nan, nan, 12.0, 11.42, nan, nan, nan, nan, 11.38, nan, nan, nan, nan, nan, nan, 11.07, nan, nan, nan, nan, 11.49, nan, nan, nan, nan, nan, nan, 11.42, nan, nan, 11.43, 11.59, 10.85, nan, 11.19, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 11.19, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 12.18, nan, nan, nan, nan, 11.39, nan, nan, 11.59, nan, nan, nan, 11.69, nan, nan, nan, nan, nan, nan, nan, 11.13, nan, 11.2, 11.74, nan, nan, nan, nan, 11.76, nan, 10.94, 11.64, 11.22, nan, 11.96, 11.58, 12.2, nan, 11.0, 11.18, nan, nan, nan, 11.59, nan, 11.6, nan, nan, nan, 11.27, 11.11, nan, 12.08, 11.1, 11.56, nan, nan, nan, nan, nan, 11.9, nan, 11.56, nan, 11.25, nan, nan, nan, 12.08, 12.07, 11.72, nan, 11.09, nan, nan, nan, 11.63, nan, nan, 12.06, nan, nan, nan, nan, nan, nan, nan, nan, 11.07, 10.93, 11.43, 11.06, 11.5, 11.28, nan, 11.67, 11.57, 11.51, 11.1, nan, 12.02, nan, 11.51, 12.04, nan, nan, nan, 11.34, nan, 11.63, 12.12, nan, nan, 11.48, 11.65, nan, nan, 11.33, 11.33, nan, 11.06, nan, nan, 11.4, nan, 11.51, 11.46, nan, 11.51, nan, nan, 11.65, 11.61, 11.28, 11.53, 11.75, 11.69, 12.61, 11.77, nan, 11.48, 11.8, 11.5, nan, nan, nan, nan, 11.36, nan, nan, nan, 11.65, nan, nan, 11.62, nan, nan, nan, nan, nan, 12.08, 11.67, nan, 11.78, 11.76, nan, 11.07, nan, nan, 11.72, nan, nan, nan, 11.93, nan, nan, nan, nan, 11.39, 11.2, nan, 11.42, nan, 11.97, 12.13, nan, nan, nan, 11.68, 12.32, 11.56, 11.94, nan, nan, 11.89, nan, 11.66, 11.63, nan, 11.88, 12.04, 11.8, 11.41, 11.46, 12.31, nan, 11.63, nan, 11.02, 11.74, 11.24, nan, 12.22, 12.02, 12.01, 10.98, 11.49, 11.75, nan, 11.98, nan, 11.24, 11.76, 11.96, 12.01, 11.42, 11.74, 12.01, 11.87, 11.34, 11.51, 11.34, 11.48, 11.8, nan, 12.07, nan, 11.67]

In [4]:
#Remove NaN values
hands = [x for x in hands if str(x) !='nan']
arm = [x for x in arm if str(x) !='nan']
wonderlic = [x for x in wonderlic if str(x) !='[nan]']
forty = [x for x in forty if str(x) !='nan']
bench = [x for x in bench if str(x) !='nan']
vert = [x for x in vert if str(x) !='nan']
broad = [x for x in broad if str(x) !='nan']
shuttle = [x for x in shuttle if str(x) !='nan']
three_cone = [x for x in three_cone if str(x) !='nan']
sixty_shuttle = [x for x in sixty_shuttle if str(x) !='nan']

In [5]:
#Split lists into top 25 and bottom 25
#Wonderlic removed because not enough data
top_height = height[:25]
bottom_height = height[-25:]
top_weight = weight[:25]
bottom_weight = weight[-25:]
top_hands = hands[:25]
bottom_hands = hands[-25:]
top_arm = arm[:25]
bottom_arm = arm[-25:]
top_forty = forty[:25]
bottom_forty = forty[-25:]
top_bench = bench[:25]
bottom_bench = bench[-25:]
top_vert = vert[:25]
bottom_vert = vert[-25:]
top_broad = broad[:25]
bottom_broad = broad[-25:]
top_shuttle = shuttle[:25]
bottom_shuttle = shuttle[-25:]
top_three_cone = three_cone[:25]
bottom_three_cone = three_cone[-25:]
top_sixty_shuttle = sixty_shuttle[:25]
bottom_sixty_shuttle = sixty_shuttle[-25:]

In [6]:
#Calculate average of each list
#Top 25
top_height_avg = mean(top_height)
top_weight_avg = mean(top_weight)
top_hands_avg = mean(top_hands)
top_arm_avg = mean(top_arm)
top_forty_avg = mean(top_forty)
top_bench_avg = mean(top_bench)
top_vert_avg = mean(top_vert)
top_broad_avg = mean(top_broad)
top_shuttle_avg = mean(top_shuttle)
top_three_cone_avg = mean(top_three_cone)
top_sixty_shuttle_avg = mean(top_sixty_shuttle)

#Bottom 25
bottom_height_avg = mean(bottom_height)
bottom_weight_avg = mean(bottom_weight)
bottom_hands_avg = mean(bottom_hands)
bottom_arm_avg = mean(bottom_arm)
bottom_forty_avg = mean(bottom_forty)
bottom_bench_avg = mean(bottom_bench)
bottom_vert_avg = mean(bottom_vert)
bottom_broad_avg = mean(bottom_broad)
bottom_shuttle_avg = mean(bottom_shuttle)
bottom_three_cone_avg = mean(bottom_three_cone)
bottom_sixty_shuttle_avg = mean(bottom_sixty_shuttle)

#Overall
height_avg = mean(height)
weight_avg = mean(weight)
hands_avg = mean(hands)
arm_avg = mean(arm)
forty_avg = mean(forty)
bench_avg = mean(bench)
vert_avg = mean(vert)
broad_avg = mean(broad)
shuttle_avg = mean(shuttle)
three_cone_avg = mean(three_cone)
sixty_shuttle_avg = mean(sixty_shuttle)

In [8]:
#Create dictionary for column-oriented dataframe from the averages
# averages = {'Category': ['Top 25 Avg.', 'Bottom 25 Avg.'],
#            'Height (in)': [top_height_avg, bottom_height_avg],
#            'Weight (lbs)': [top_weight_avg, bottom_weight_avg],
#            'Hand Size (in)': [top_hands_avg, bottom_hands_avg],
#            'Arm Length (in)': [top_arm_avg, bottom_arm_avg],
#            '40 Time': [top_forty_avg, bottom_forty_avg],
#            'Bench Press': [top_bench_avg, bottom_bench_avg],
#            'Vertical Leap (in)': [top_vert_avg, bottom_vert_avg],
#            'Broad Jump (in)': [top_broad_avg, bottom_broad_avg],
#            'Shuttle': [top_shuttle_avg, bottom_shuttle_avg],
#            '3 Cone Drill': [top_three_cone_avg, bottom_three_cone_avg],
#            '60 Yard Shuttle': [top_sixty_shuttle_avg, bottom_sixty_shuttle_avg]}

averages = {'Category': ['Height (in)', 'Weight (lb)', 'Hand Size (in)', 'Arm Length (in)', '40 Yard', 'Bench Press',
                        'Vertical Leap (in)', 'Broad Jump (in)', 'Shuttle', '3 Cone Drill', '60 Yard Shuttle'],
            'Overall Avg.': [height_avg, weight_avg, hands_avg, arm_avg, forty_avg, bench_avg, vert_avg, broad_avg, shuttle_avg, 
                             three_cone_avg, sixty_shuttle_avg],
            'Top 25 Avg.': [top_height_avg, top_weight_avg, top_hands_avg, top_arm_avg, top_forty_avg, top_bench_avg,
                            top_vert_avg, top_broad_avg, top_shuttle_avg, top_three_cone_avg, top_sixty_shuttle_avg],
            'Bottom 25 Avg.': [bottom_height_avg, bottom_weight_avg, bottom_hands_avg, bottom_arm_avg, bottom_forty_avg, 
                               bottom_bench_avg, bottom_vert_avg, bottom_broad_avg, bottom_shuttle_avg, bottom_three_cone_avg,
                               bottom_sixty_shuttle_avg]}

In [9]:
#Create dataframe from dictionary
averages_df = pd.DataFrame.from_dict(averages)
averages_df

              Category  Overall Avg.  Top 25 Avg.  Bottom 25 Avg.
0          Height (in)     70.761375      71.3424         71.4120
1          Weight (lb)    212.285000     213.3600        206.2800
2       Hand Size (in)      9.240360       9.2316          9.2312
3      Arm Length (in)     30.993324      31.4560         30.4004
4              40 Yard      4.565330       4.5076          4.6468
5          Bench Press     18.369775      19.7200         12.9600
6   Vertical Leap (in)     34.260542      36.1400         30.6400
7      Broad Jump (in)    117.209877     121.5600        111.9200
8              Shuttle      4.240878       4.2456          4.2704
9         3 Cone Drill      7.075818       7.0212          7.2004
10     60 Yard Shuttle     11.590520      11.6080         11.6668

In [10]:
#Create function that calculates percent change
def pct_change(top, bottom):
    return (abs(top - bottom))/((top + bottom)/2) * 100

In [11]:
#Add new column with percent change
averages_df['Pct. Change(%)'] = pct_change(averages_df['Top 25 Avg.'], averages_df['Bottom 25 Avg.'])

In [12]:
averages_df

,Category,Overall Avg.,Top 25 Avg.,Bottom 25 Avg.,Pct. Change(%)
0,Height (in),70.761375,71.3424,71.4120,0.097510
1,Weight (lb),212.285000,213.3600,206.2800,3.374321
2,Hand Size (in),9.240360,9.2316,9.2312,0.004333
3,Arm Length (in),30.993324,31.4560,30.4004,3.413066
4,40 Yard,4.565330,4.5076,4.6468,3.041161
5,Bench Press,18.369775,19.7200,12.9600,41.370869
6,Vertical Leap (in),34.260542,36.1400,30.6400,16.471998
7,Broad Jump (in),117.209877,121.5600,111.9200,8.257667
8,Shuttle,4.240878,4.2456,4.2704,0.582433
9,3 Cone Drill,7.075818,7.0212,7.2004,2.520110
10,60 Yard Shuttle,11.590520,11.6080,11.6668,0.505267

In [13]:
#Calculate sum of pct. change column
total = averages_df['Pct. Change(%)'].sum()

#Created weighted percentage for each category, add to new column
averages_df['Weighted Pct.'] = (averages_df['Pct. Change(%)']/total)*100

In [14]:
averages_df

,Category,Overall Avg.,Top 25 Avg.,Bottom 25 Avg.,Pct. Change(%),Weighted Pct.
0,Height (in),70.761375,71.3424,71.4120,0.097510,0.122441
1,Weight (lb),212.285000,213.3600,206.2800,3.374321,4.237035
2,Hand Size (in),9.240360,9.2316,9.2312,0.004333,0.005441
3,Arm Length (in),30.993324,31.4560,30.4004,3.413066,4.285686
4,40 Yard,4.565330,4.5076,4.6468,3.041161,3.818695
5,Bench Press,18.369775,19.7200,12.9600,41.370869,51.948175
6,Vertical Leap (in),34.260542,36.1400,30.6400,16.471998,20.683399
7,Broad Jump (in),117.209877,121.5600,111.9200,8.257667,10.368907
8,Shuttle,4.240878,4.2456,4.2704,0.582433,0.731344
9,3 Cone Drill,7.075818,7.0212,7.2004,2.520110,3.164428
10,60 Yard Shuttle,11.590520,11.6080,11.6668,0.505267,0.634449

In [15]:
#Export to csv
export_csv = averages_df.to_csv('Output/RBs_Averages.csv', index=False, header=True)