In [76]:
#Dependencies
import os
import csv
import pandas as pd
import numpy as np

In [77]:
#Store filepaths
combine_RB = "Output/RBs_Fltr_Combine_Data.csv"
combine_rb_df = pd.read_csv(combine_RB, encoding = "ISO-8859-1")
rb_avg = "Output/RBs_Averages.csv"
rb_avg_df = pd.read_csv(rb_avg)

In [78]:
combine_rb_df.head()

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,HeightÂ (in),WeightÂ (lbs),Hand SizeÂ (in),Arm LengthÂ (in),Wonderlic,40Â Yard,Bench Press,Vert LeapÂ (in),Broad JumpÂ (in),Shuttle,3Cone,60Yd Shuttle
0,Thurman Thomas,RB,1988,BUF,84,Oklahoma State,Y,Top,69.9,198,8.75,NaN,NaN,4.47,13.0,33.0,114.0,4.21,NaN,11.39
1,LaDainian Tomlinson,RB,2001,SDG,80,TCU,Y,Top,70.3,221,9.00,31.00,NaN,4.43,18.0,40.5,124.0,4.21,6.84,11.19
2,Ricky Watters,RB,1991,SFO,74,Notre Dame,N,Top,73.0,212,9.13,31.50,NaN,4.71,18.0,34.5,111.0,4.41,NaN,11.59
3,Edgerrin James,RB,1999,IND,73,Miami (FL),N,Top,72.0,216,8.88,30.00,NaN,4.38,NaN,NaN,NaN,3.88,6.87,NaN
4,Terrell Davis,RB,1995,DEN,70,Georgia,Y,Top,71.6,213,9.00,30.88,NaN,4.72,NaN,35.0,120.0,4.41,NaN,11.65

In [79]:
#Filter to only include 2015 drafted rbs
rbs_year = combine_rb_df [combine_rb_df['Year'] == 2015]

In [60]:
rb_avg_df

,Category,Overall Avg.,Top 25 Avg.,Bottom 25 Avg.,Pct. Change(%),Weighted Pct.
0,Height (in),70.761375,71.3424,71.4120,0.097510,0.122441
1,Weight (lb),212.285000,213.3600,206.2800,3.374321,4.237035
2,Hand Size (in),9.240360,9.2316,9.2312,0.004333,0.005441
3,Arm Length (in),30.993324,31.4560,30.4004,3.413066,4.285686
4,40 Yard,4.565330,4.5076,4.6468,3.041161,3.818695
5,Bench Press,18.369775,19.7200,12.9600,41.370869,51.948175
6,Vertical Leap (in),34.260542,36.1400,30.6400,16.471998,20.683399
7,Broad Jump (in),117.209877,121.5600,111.9200,8.257667,10.368907
8,Shuttle,4.240878,4.2456,4.2704,0.582433,0.731344
9,3 Cone Drill,7.075818,7.0212,7.2004,2.520110,3.164428
10,60 Yard Shuttle,11.590520,11.6080,11.6668,0.505267,0.634449

In [27]:
list(rbs_year)

['Name',
 'Pos',
 'Year',
 'Tm',
 'First4AV',
 'College',
 'HOF',
 'Class',
 'HeightÂ\xa0(in)',
 'WeightÂ\xa0(lbs)',
 'Hand SizeÂ\xa0(in)',
 'Arm LengthÂ\xa0(in)',
 'Wonderlic',
 '40Â\xa0Yard',
 'Bench Press',
 'Vert LeapÂ\xa0(in)',
 'Broad JumpÂ\xa0(in)',
 'Shuttle',
 '3Cone',
 '60Yd Shuttle']

In [80]:
rbs_year.columns = ['Name', 'Pos', 'Year', 'Tm', 'First4AV', 'College', 'HOF', 'Class', 'Height (in)', 'Weight (lb)', 
                    'Hand Size (in)', 'Arm Length (in)', 'Wonderlic', '40 Yard', 'Bench Press', 'Vertical Leap (in)', 
                    'Broad Jump (in)', 'Shuttle', '3 Cone Drill', '60 Yard Shuttle']
del rbs_year['Wonderlic']
rbs_year.head()

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,Height (in),Weight (lb),Hand Size (in),Arm Length (in),40 Yard,Bench Press,Vertical Leap (in),Broad Jump (in),Shuttle,3 Cone Drill,60 Yard Shuttle
155,David Johnson,RB,2015,ARI,9,Northern Iowa,N,Bottom,72.63,224,9.63,31.25,4.50,25.0,41.5,127.0,4.27,6.82,NaN
164,Todd Gurley,RB,2015,STL,8,Georgia,N,Bottom,72.63,222,10.00,31.50,4.52,17.0,NaN,NaN,NaN,NaN,NaN
186,Matt Jones,RB,2015,WAS,6,Florida,N,Bottom,74.38,231,8.63,32.00,4.61,20.0,31.5,112.0,4.20,NaN,NaN
187,Jeremy Langford,RB,2015,CHI,6,Michigan State,N,Bottom,71.63,208,8.75,31.50,4.42,NaN,34.5,118.0,4.32,7.22,NaN
200,Melvin Gordon,RB,2015,SDG,5,Wisconsin,N,Bottom,72.63,215,9.75,32.38,4.52,19.0,35.0,126.0,4.07,7.04,11.0

In [81]:
#Replace NaN with overall average for each category
rbs_year['Height (in)'].fillna(rb_avg_df['Overall Avg.'][0], inplace=True)
rbs_year['Weight (lb)'].fillna(rb_avg_df['Overall Avg.'][1], inplace=True)
rbs_year['Hand Size (in)'].fillna(rb_avg_df['Overall Avg.'][2], inplace=True)
rbs_year['Arm Length (in)'].fillna(rb_avg_df['Overall Avg.'][3], inplace=True)
rbs_year['40 Yard'].fillna(rb_avg_df['Overall Avg.'][4], inplace=True)
rbs_year['Bench Press'].fillna(rb_avg_df['Overall Avg.'][5], inplace=True)
rbs_year['Vertical Leap (in)'].fillna(rb_avg_df['Overall Avg.'][6], inplace=True)
rbs_year['Broad Jump (in)'].fillna(rb_avg_df['Overall Avg.'][7], inplace=True)
rbs_year['Shuttle'].fillna(rb_avg_df['Overall Avg.'][8], inplace=True)
rbs_year['3 Cone Drill'].fillna(rb_avg_df['Overall Avg.'][9], inplace=True)
rbs_year['60 Yard Shuttle'].fillna(rb_avg_df['Overall Avg.'][10], inplace=True)

C:\Users\sharv\Anaconda3\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [82]:
rbs_year.head()

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,Height (in),Weight (lb),Hand Size (in),Arm Length (in),40 Yard,Bench Press,Vertical Leap (in),Broad Jump (in),Shuttle,3 Cone Drill,60 Yard Shuttle
155,David Johnson,RB,2015,ARI,9,Northern Iowa,N,Bottom,72.63,224,9.63,31.25,4.50,25.000000,41.500000,127.000000,4.270000,6.820000,11.59052
164,Todd Gurley,RB,2015,STL,8,Georgia,N,Bottom,72.63,222,10.00,31.50,4.52,17.000000,34.260542,117.209877,4.240878,7.075818,11.59052
186,Matt Jones,RB,2015,WAS,6,Florida,N,Bottom,74.38,231,8.63,32.00,4.61,20.000000,31.500000,112.000000,4.200000,7.075818,11.59052
187,Jeremy Langford,RB,2015,CHI,6,Michigan State,N,Bottom,71.63,208,8.75,31.50,4.42,18.369775,34.500000,118.000000,4.320000,7.220000,11.59052
200,Melvin Gordon,RB,2015,SDG,5,Wisconsin,N,Bottom,72.63,215,9.75,32.38,4.52,19.000000,35.000000,126.000000,4.070000,7.040000,11.00000

In [86]:
#Create function for weighted score
def weighted_score(ht, wt, hand, arm, forty, bench, vert, broad, shuttle, three_cone, sixty_yard):
    return .00122441*ht + .04237035*wt + .00005441*hand + .04285686*arm + .03818695*(6-forty) + .51948175*bench + .20683399*vert + .10368907*broad + .00731344*(6-shuttle) + .03164428*(9 - three_cone) + .00634449*(13 - sixty_yard)

In [87]:
rbs_year['Weighted Score'] = weighted_score(rbs_year['Height (in)'], rbs_year['Weight (lb)'], rbs_year['Hand Size (in)'], 
                                            rbs_year['Arm Length (in)'], rbs_year['40 Yard'], rbs_year['Bench Press'], 
                                            rbs_year['Vertical Leap (in)'], rbs_year['Broad Jump (in)'], rbs_year['Shuttle'], 
                                            rbs_year['3 Cone Drill'], rbs_year['60 Yard Shuttle'])

C:\Users\sharv\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [88]:
rbs_year.head()

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,Height (in),Weight (lb),Hand Size (in),Arm Length (in),40 Yard,Bench Press,Vertical Leap (in),Broad Jump (in),Shuttle,3 Cone Drill,60 Yard Shuttle,Weighted Score
155,David Johnson,RB,2015,ARI,9,Northern Iowa,N,Bottom,72.63,224,9.63,31.25,4.50,25.000000,41.500000,127.000000,4.270000,6.820000,11.59052,45.806714
164,Todd Gurley,RB,2015,STL,8,Georgia,N,Bottom,72.63,222,10.00,31.50,4.52,17.000000,34.260542,117.209877,4.240878,7.075818,11.59052,39.055713
186,Matt Jones,RB,2015,WAS,6,Florida,N,Bottom,74.38,231,8.63,32.00,4.61,20.000000,31.500000,112.000000,4.200000,7.075818,11.59052,39.904669
187,Jeremy Langford,RB,2015,CHI,6,Michigan State,N,Bottom,71.63,208,8.75,31.50,4.42,18.369775,34.500000,118.000000,4.320000,7.220000,11.59052,39.302941
200,Melvin Gordon,RB,2015,SDG,5,Wisconsin,N,Bottom,72.63,215,9.75,32.38,4.52,19.000000,35.000000,126.000000,4.070000,7.040000,11.00000,40.906299

In [89]:
highest_score = rbs_year.sort_values(by='Weighted Score', ascending=False)
highest_score.head(10)

,Name,Pos,Year,Tm,First4AV,College,HOF,Class,Height (in),Weight (lb),Hand Size (in),Arm Length (in),40 Yard,Bench Press,Vertical Leap (in),Broad Jump (in),Shuttle,3 Cone Drill,60 Yard Shuttle,Weighted Score
155,David Johnson,RB,2015,ARI,9,Northern Iowa,N,Bottom,72.63,224,9.63,31.25,4.50,25.000000,41.500000,127.000000,4.270000,6.820000,11.59052,45.806714
201,Ameer Abdullah,RB,2015,DET,5,Nebraska,N,Bottom,68.75,205,8.63,30.00,4.60,24.000000,42.500000,130.000000,3.950000,6.790000,11.18000,44.943796
305,T.J. Yeldon,RB,2015,JAX,0,Alabama,N,Bottom,73.00,226,9.00,31.63,4.61,22.000000,36.000000,117.000000,4.220000,7.190000,11.59052,42.159693
260,Jay Ajayi,RB,2015,MIA,2,Boise State,N,Bottom,71.75,221,10.00,32.00,4.57,19.000000,39.000000,121.000000,4.100000,7.100000,11.10000,41.447400
240,Tevin Coleman,RB,2015,ATL,3,Indiana,N,Bottom,71.38,206,8.63,32.00,4.59,22.000000,34.260542,117.209877,4.240878,7.075818,11.59052,40.992346
200,Melvin Gordon,RB,2015,SDG,5,Wisconsin,N,Bottom,72.63,215,9.75,32.38,4.52,19.000000,35.000000,126.000000,4.070000,7.040000,11.00000,40.906299
277,David Cobb,RB,2015,TEN,1,Minnesota,N,Bottom,70.88,229,9.38,31.63,4.59,17.000000,38.500000,121.000000,4.240878,7.075818,11.59052,40.622886
306,Josh Robinson,RB,2015,IND,0,Mississippi State,N,Bottom,67.88,217,10.13,29.75,4.70,21.000000,32.000000,113.000000,4.240878,7.075818,11.59052,39.930031
186,Matt Jones,RB,2015,WAS,6,Florida,N,Bottom,74.38,231,8.63,32.00,4.61,20.000000,31.500000,112.000000,4.200000,7.075818,11.59052,39.904669
261,Cameron Artis-Payne,RB,2015,CAR,2,Auburn,N,Bottom,69.75,212,8.88,29.63,4.53,18.369775,36.500000,118.000000,4.240878,7.130000,11.59052,39.802880